In [74]:
import pickle
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from numpy import nanmean
import numpy as np
from os import listdir
from os.path import isfile, join

# Create CSV

In [75]:
with open('2018_2020_O3_NO2_SO2_CO_CH4_all_with_nan_2.pkl', 'rb') as fp:
    loaded = pickle.load(fp)

In [76]:
onlyfiles = [f for f in listdir('pkl/') if isfile(join('pkl/', f))]

In [185]:
#for files in onlyfiles:
    #os.remove('pkl/'+files)

In [77]:
df=pd.DataFrame(columns=['Country','CH4','O3','NO2','CO','SO2'])
new_dict=dict()
for file in onlyfiles:
    with open('pkl/'+file, 'rb') as fp:
        loaded = pickle.load(fp)
    new_dict[file]={'CH4':np.nanmean(loaded['CH4']),
             'O3':np.nanmean(loaded['O3']),
             'NO2':np.nanmean(loaded['NO2']),
             'CO':np.nanmean(loaded['CO']),
             'SO2':np.nanmean(loaded['SO2'])}
    df=df.append({'Country':file.replace('.pkl',''),'CH4':new_dict[file]['CH4'],'O3':new_dict[file]['O3'],'NO2':new_dict[file]['NO2'],'CO':new_dict[file]['CO'],'SO2':new_dict[file]['SO2']},ignore_index=True)

In [78]:
df

   Country          CH4        O3       NO2        CO       SO2
0      IND  1892.050415  0.120283  0.000019  0.031400  0.000028
1      BGR  1861.557739  0.142715  0.000024  0.031539  0.000162
2      BEL  1844.500122  0.144630  0.000047  0.032446  0.000070
3      SWE  1815.773804  0.145403  0.000019  0.032285  0.000054
4      BGD  1889.079712  0.119807  0.000026  0.040474  0.000021
5      DNK  1844.251465  0.146441  0.000028  0.033064  0.000120
6      FIN  1807.469849  0.146421  0.000016  0.032316 -0.000050
7      BRA  1814.726440  0.119650  0.000009  0.028957  0.000030
8      IRN  1895.886230  0.128306  0.000024  0.028975  0.000118
9      USA  1849.505371  0.140567  0.000010  0.031015  0.000038
10     JPN  1850.255859  0.141881  0.000019  0.036835  0.000084
11     ESP  1858.853516  0.138621  0.000023  0.029178  0.000090
12     ITA  1858.791138  0.141076  0.000025  0.030680  0.000124
13     COL  1860.423096  0.115704  0.000010  0.032865 -0.000009
14     CAN  1841.413452  0.151191  0.000007  0.031700  0.000027
15     CZE  1842.057861  0.141693  0.000037  0.031879  0.000203
16     RUS  1846.382690  0.153554  0.000009  0.032279  0.000042
17     MEX  1862.667847  0.122033  0.000012  0.028373  0.000031
18     AUT  1845.095459  0.141143  0.000029  0.029284  0.000155

In [79]:
df1=df.filter(['CH4','O3','NO2','CO','SO2'])
df1=(df1-df1.min())/(df1.max()-df1.min())

In [80]:
df1=df1.join(df['Country'])

In [81]:
df1.to_csv('csv/CH4.csv',columns=['Country','CH4'], index=False)
df1.to_csv('csv/O3.csv',columns=['Country','O3'], index=False)
df1.to_csv('csv/NO2.csv',columns=['Country','NO2'], index=False)
df1.to_csv('csv/CO.csv',columns=['Country','CO'], index=False)
df1.to_csv('csv/SO2.csv',columns=['Country','SO2'], index=False)

# Separate files

In [21]:
with open('pkl/Bgd_Ind_Irn_Jpn.pkl', 'rb') as fp:
    to_sep = pickle.load(fp)

In [22]:
dizionario=dict()
for i in range(0,len(to_sep)):
    for key in to_sep[i]:
        dizionario[key]={
            'CH4':to_sep[i][key]['CH4'][0],
            'O3':to_sep[i][key]['O3'][0],
            'NO2':to_sep[i][key]['NO2'][0],
            'CO':to_sep[i][key]['CO'][0],
            'SO2':to_sep[i][key]['SO2'][0]
        }

In [23]:
for key in dizionario.keys():
    dir='pkl/'+key+'.pkl'
    with open(dir, 'wb') as f:
        pickle.dump(dizionario[key], f)

In [191]:
with open('pkl/ITA.pkl', 'rb') as fp:
    to_sep = pickle.load(fp)

In [192]:
to_sep.keys()

dict_keys(['CH4', 'O3', 'NO2', 'CO', 'SO2'])

In [61]:
with open('pkl/ARG.pkl', 'rb') as fp:
    ARG = pickle.load(fp)

In [65]:
for i in range(0,len(ARG['CO'])):
    if ARG['CO'][i]>10^20:
        print(i)

100

In [66]:
type(ARG['CO'])

pandas.core.series.Series